In [1]:
import pandas as pd

In [35]:
df = pd.read_parquet("green_tripdata_2025-11.parquet")

In [36]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,NaN,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,NaN,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,NaN,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,NaN,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,NaN,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75

In [37]:
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag                  str
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [41]:
for col in df.columns:
    print(col, df[col][df[col].isna()].shape)

VendorID (0,)
lpep_pickup_datetime (0,)
lpep_dropoff_datetime (0,)
store_and_fwd_flag (5569,)
RatecodeID (5569,)
PULocationID (0,)
DOLocationID (0,)
passenger_count (5569,)
trip_distance (0,)
fare_amount (0,)
extra (0,)
mta_tax (0,)
tip_amount (0,)
tolls_amount (0,)
ehail_fee (46912,)
improvement_surcharge (0,)
total_amount (0,)
payment_type (5569,)
trip_type (5570,)
congestion_surcharge (5569,)
cbd_congestion_fee (0,)

In [43]:
df = df.drop(columns=['ehail_fee'])

In [46]:
df[df.isna().any(axis=1)]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
37228,1,2025-11-27 16:19:18,2025-11-27 16:19:18,Y,99.0,244,264,0.0,0.00,51.06,0.0,0.0,0.00,0.0,0.0,51.06,1.0,NaN,0.0,0.00
41343,2,2025-11-01 00:46:00,2025-11-01 01:39:00,NaN,NaN,41,80,NaN,9.26,46.92,0.0,0.5,7.00,0.0,1.0,58.92,NaN,NaN,NaN,0.75
41344,2,2025-11-01 00:13:00,2025-11-01 00:40:00,NaN,NaN,181,226,NaN,7.01,46.78,0.0,0.5,9.66,0.0,1.0,57.94,NaN,NaN,NaN,0.00
41345,6,2025-11-01 00:53:17,2025-11-01 01:16:43,NaN,NaN,50,249,NaN,3.18,2.90,0.0,0.5,0.00,0.0,0.3,16.00,NaN,NaN,NaN,0.00
41346,2,2025-11-01 00:43:00,2025-11-01 00:53:00,NaN,NaN,166,116,NaN,1.54,14.38,0.0,0.5,3.18,0.0,1.0,19.06,NaN,NaN,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,NaN,NaN,59,51,NaN,8.50,33.22,0.0,0.5,0.00,0.0,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,NaN,NaN,74,151,NaN,1.73,13.86,0.0,0.5,0.77,0.0,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,NaN,NaN,33,163,NaN,7.52,38.42,0.0,0.5,1.00,0.0,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,NaN,NaN,16,95,NaN,5.61,24.67,0.0,0.5,0.00,0.0,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,NaN,NaN,65,87,NaN,2.91,14.46,0.0,0.5,3.89,0.0,1.0,23.35,NaN,NaN,NaN,0.75